<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/frag :: commonHead('로그인')}"></head>
<body>
<!-- 헤더 -->
<div th:replace="~{include/frag :: headerFragment}"></div>

<!-- 컨텐츠 영역 -->
<div class="container mt-5" style="max-width: 500px; margin: auto;">

    <form th:action="@{/users/login}" method="post" class="card p-4 shadow-lg p-5">
        <div th:if="${error}" class="text-danger loginErr mb-3">[[${error}]]</div>
        <div class="mb-3 position-relative input-icon">
            <span class="material-symbols-outlined input-icon-symbol">person</span>
            <input type="text" name="email" class="form-control ps-5" required placeholder="이메일">
        </div>
        <div class="mb-3 position-relative input-icon">
            <span class="material-symbols-outlined input-icon-symbol">lock</span>
            <input type="password" name="password" class="form-control ps-5" required placeholder="비밀번호">
        </div>
        <button type="submit" class="btn btn-success w-100 d-flex align-items-center justify-content-center gap-2">
            <span class="material-symbols-outlined">login</span> 로그인
        </button>
        <div class="login-links">
            <span><i class="material-symbols-outlined">person_search</i><a href="/users/find-id">아이디 찾기</a></span>
            <span><i class="material-symbols-outlined">lock_reset</i><a href="/users/find-id">비밀번호 찾기</a></span>
        </div>

    </form>
</div>
<!-- 푸터 -->
<div th:replace="~{include/frag :: footerFragment}"></div>
</body>
</html>
