<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{include/frag :: commonHead('비밀번호 변경')}"></head>
<body>
<div th:replace="~{include/frag :: headerFragment}"></div>

<div class="container mt-5 d-flex">
    <div th:replace="~{include/frag :: myProfileSidebar('password')}"></div>

    <div class="flex-grow-1 card p-4 shadow-lg">
        <h4 class="mb-4"><span class="material-symbols-outlined">lock_reset</span> 비밀번호 변경</h4>
        <div class="text-danger mb-3" th:if="${error}" th:text="${error}"></div>
        <div class="text-success mb-3" th:if="${success}" th:text="${success}"></div>
        <form th:action="@{/users/change-password}" method="post" onsubmit="return validatePasswordChange()">
            <div class="mb-3 position-relative input-icon">
                <span class="material-symbols-outlined input-icon-symbol">lock</span>
                <input type="password" id="currentPassword" name="currentPassword" class="form-control" required placeholder="현재 비밀번호">
            </div>

            <div class="mb-3 position-relative input-icon">
                <span class="material-symbols-outlined input-icon-symbol">lock_reset</span>
                <input type="password" id="newPassword" name="newPassword" class="form-control" required placeholder="새 비밀번호">
            </div>

            <div class="mb-3 position-relative input-icon">
                <span class="material-symbols-outlined input-icon-symbol">check</span>
                <input type="password" id="confirmPassword" class="form-control" required placeholder="비밀번호 확인">
            </div>
            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
        </form>
    </div>
</div>

<div th:replace="~{include/frag :: footerFragment}"></div>

<script>
    function validatePasswordChange() {
        const newPassword = document.getElementById('newPassword').value;
        const confirmPassword = document.getElementById('confirmPassword').value;
        if (newPassword !== confirmPassword) {
            alert('새 비밀번호가 일치하지 않습니다.');
            return false;
        }
        return true;
    }
</script>
</body>
</html>
